* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #2c2c2c;
}

	@import url('https://fonts.googleapis.com/css?lang=es&family=Product+Sans|Roboto:400,700');

body {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	background-color: #ffffcc;
}



.center {
	text-align: center;
	font-weight: bold;
}

.animatedBG {
	background: linear-gradient(to right, #1e5799 0%, #2ce0bf 19%, #76dd2c 40%, #dba62b 60%, #e02cbf 83%, #1e5799 100%);
  background-size: 10000px 100%;
  animation: bg 15s linear infinite;
}




@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.title {
	font-size: 3em;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-family: 'Comfortaa', cursive;
}
#login {
	color: black;
	font-size: 1em;

	padding: 10px 10px 10px 10px;
	background: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;

	margin-top: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.demo {
	font-size: 1.5em;
	margin-top: 75%;
}
.arrow1, .arrow2 {
	position: absolute;
	height: 25%;
}
.arrow1 {
	bottom: 2.5em;
	right: 3em;
	transform: rotate(-40deg);
}
.arrow2 {
	bottom: 4em;
	right: 0em;
	transform: rotate(180deg);
}


/**********************************************************************************
		CONTAINER
***********************************************************************************/
#notesContainer { 	transition: all 1s }
#notesContainer {
	background-color: #ffffcc;
	display: block;
  flex-wrap: wrap;
}

#notesContainer.pre-animation {
	 opacity:0.3;
}

#notesContainer.opacityAnimation {
	opacity: 1;
}


/**********************************************************************************
		NOTES AND COLOURS
***********************************************************************************/
.note {
	padding: 5%;
	margin: 2%;
	border-radius: 8px;
	flex: 1 1 30%;
	max-height: 40%;
	max-width: 46%;

	/* overflow: hidden; */
}

.note-content{
	margin-top: 10%;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;

}
.note-big {
	height: 100vh;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	padding: 11%;
	transition: background 1s;
}

.note-white {
	background-color: white;
	border: 1px solid #bfbfbf;
}
.note-aqua {
	background-color: aqua;
}
.note-darkblue {
	background-color: #5485FF;
}
.note-grey {
	background-color: #C0C0C0;
}
.note-yellow {
	background-color: #f3fb83;
}
.note-red {
	background-color: #f69681;
}
.note-green {
	background-color: #45F564;
}
.note-pink {
	background-color: #FFA9E3;
}
.note-rainbow {
	background: linear-gradient(0deg, red, orange, yellow, green, aqua, purple);
}
.note-diamond {
	background-image: url("/assets/img/diamond.png");
	background-size: cover;
}


.note-hashtags {
	color: #7C7C7C;
	margin-bottom:10%;
}
.selectNote::after {
	cursor: grab;
	content: "";
	bottom: 0;
	padding: 1%;
	opacity: .5;
}

#notesView {
	z-index: 1;
	transition:  opacity 1s;
	position: absolute;
	bottom: 2em;
	right:  2.2em;
	visibility: hidden;
	opacity: 0;
}

.deleteNote{
  font-family: inherit;
  font-size: inherit;
  border: none;
	height: 5%;
  background-color: transparent;
  position: absolute;
  right: 5%;
  top: 2.5%;
  cursor: pointer;
}


h3 {
  font-size: 30px;
	display: inline;
}


.bin {
		right: 2.7em;
}



#danceImg {
	transition: all 1s;
}






.formNewNote {
	/* display: none; */
}

.note input:hover, .note #addTextNote:hover {
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(166,149,166,1);
  -moz-box-shadow: inset 0px 0px 20px 6px rgba(166,149,166,1);
  box-shadow: inset 0px 0px 20px 6px rgba(166,149,166,1);
}
.note #addTextNote {
    min-height: 100px;
}


#paintNotes {
	position: absolute;
	bottom: 1.5em;

}



/**********************************************************************************
		FORMULARIO
***********************************************************************************/
textarea{
	width: 100%;
	min-height: 80px;
}


form input {
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	font-size: 2.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
}
input:focus, #addTextNote:focus {
    outline: none;
}

#addTextNote {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	background: transparent;
	font-size: 1em;
	resize: none;
	height: 50vh;
	border: 0;
	border-bottom: 1px solid #757575;
	padding-bottom: 1em;
}

/* active */

/* Underline */
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #757575;
    transition: all 0.3s ease;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
/* active */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}





















/**********************************************************************************
		MENU TOSTADA
***********************************************************************************/
		.menu-container div {
			height: 70px;
			width: 70px;
			/* background-color: white; */
			opacity: 0.8;
			border: 0.5px solid grey;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}


		#iconNewnote img, #createFolder img, #search img {
			height: 50px;
		}
		#menu img {
			height: 70px;
		}
		#changeView img, #swap img {
			transition: transform 1s;
			transform: rotate(90deg);
			height: 25px;
		}

		#iconNewnote, #swap, #createFolder, #search , #changeView, #menu{
			opacity: 0;
			position: fixed;
			transition: all .5s;
		}
		#search {
			bottom: 1em;
			right: 6em;
		}
		#swap {
			height: 3vh;
			width: 3vh;
			bottom: 6.3em;
			right: 3.7em;
		}
		#iconNewnote {
			bottom: 5.8em;
			right: 5.8em;
		}
		#createFolder {
			bottom: 8em;
			right: 1.5em;
		}
		#changeView {
			height: 6vh;
			width: 6vh;
			bottom: 5.7em;
			right: 0.3em;
		}
		#menu {
			visibility: visible;
			bottom: 1.5em;
			right: 1.2em;
		}



.dance {
  -webkit-animation: dance 0.3s infinite;
}
@-webkit-keyframes dance{
  0%  { -webkit-transform:rotateZ(-1deg); }
	50%{ -webkit-transform:rotateZ( 1deg) ; }
	100%{ -webkit-transform:rotateZ( -1deg); }
}




/**********************************************************************************
		TAGS VISTA Y BORRADO
***********************************************************************************/

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
	margin-top: 4em;
  background: #eee;
  border-radius: 3px;
  color: #999;
	opacity: 0.5;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
	transition: all 1s;
}

.tag::before {
  background: grey;
  border-radius: 10px;
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag-delete {
	color: black;
	background-color: red;
}
.tag-delete::after {
	content: ' ❌';
}




/**********************************************************************************
		COLOR FONDO
***********************************************************************************/
.colorPicker {
	position: absolute;
	bottom: 2.8em;
	font-size: 0.875em;
  text-align: center;
  display: inline-table;
  width: 100%;
  max-width: 12em;
  background: #fff;
  padding: 2px;
  border-radius: 0.35em;
}
.colorPicker label {
  -webkit-tap-highlight-color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5em 1em;
  text-transform: capitalize;
  letter-spacing: -0.5em;
  color: transparent;
  width: 1%;

}
.colorPicker label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
.colorPicker label:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
}
.colorPicker label:hover {
  opacity: 1;
  color: #000;
  letter-spacing: normal;
}
.colorPicker input {
  display: none;
}
.colorPicker input:checked + label {
  width: 90%;
  opacity: 1;
  color: #000;
  letter-spacing: normal;
}



/**********************************************************************************
		CAMBIO POSICION
***********************************************************************************/
/* Pulse Shrink */
@keyframes pulse-grow {
  to {
    transform: scale(0.95);
  }
}
.pulse-grow {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  animation-name: pulse-grow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.back {
  transform: rotateX(0deg) rotateY(360deg);
  transform-style: preserve-3d;
  transition: all .4s ease-in-out;
  /* backface-visibility: hidden; */
	background-color: transparent;

	background-repeat: no-repeat, repeat;

}

.flipped {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.reverse {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
}
